.formSection {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formSection form {
    max-width: 80%;
    background: linear-gradient(130deg, rgba(0,96,3,1) 0%, rgba(1,155,78,1) 26%, rgba(0,99,255,1) 49%, rgba(16,2,144,1) 85%, rgba(114,2,144,1) 93%);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    color: white;
}